*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background: rgb(27, 1, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
background: white;
width: 647px;
height: 600px;
border-radius: 0.5rem;
padding: 1rem;

}
.score-line{
    width: 100%;
    background: #b4b4b4;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.game{
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: 435px;
    background: #000;
    border-radius: 0.4rem;


    background-image:
        linear-gradient(to right, rgb(56, 55, 55) 0.5px , transparent 1px),
        linear-gradient(to bottom, rgb(56, 55, 55) 0.5px , transparent 1px);

    background-size: 31px 31px;
}

.last{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.last button{
    padding: 0.5rem 1rem;
    color:white;
    background:purple;
    border-radius: 1rem;
    transition: all ease 0.2s;
    cursor: pointer;
}
.last button:active{
     background:rgb(156, 47, 156);
     transform: scale(0.90);
}
.snake {
    display: none;
    background: #39ff14;
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}

.snake-body {
    width: 31px;
    height: 31px;
    position: absolute;
    background: green;
    border-radius: 5px;
}
.food{
    display: none;
    width:31px;
    height:31px;
    position: absolute;
    background: rgb(194, 6, 6);
    border-radius: 50%;

}

.game-over {
    position: absolute;
    inset: 0;

    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.85);
    color: white;

    z-index: 10;
}

.game-over h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.game-over h2 {
    margin-bottom: 20px;
}

.play-again {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    background: purple;
    color: white;

    cursor: pointer;
    font-family: monospace;
}

.play-again:active {
    transform: scale(0.9);
}

.snake::before,
.snake::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    top: 6px;
}

.snake::before {
    left: 6px;
}

.snake::after {
    right: 6px;
}
.snake {
    background:
        radial-gradient(circle at 7px 9px, black 0 2px, white 2.5px 5px, transparent 5.5px),
        radial-gradient(circle at 24px 9px, black 0 2px, white 2.5px 5px, transparent 5.5px),
        green;
}